<template>
  <div :class="['bulb', on && 'on']" @click="move"></div>
</template>

<style lang="scss" scoped>
div.bulb {
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #e2f4ff;
  transition: 0.075s background-color;
  border-radius: 10px;

  &.on/*, &:hover*/ {
    background-color: #1881c2;
  }

  &:hover {
    background-color: #b3d8ee;
  }
}
</style>

<script>
export default {
  props: {
    x: { required: true, type: Number },
    y: { required: true, type: Number },
    on: { type: Boolean, default: false },
  },

  emits: ["move"],

  methods: {
    move() {
      this.$emit("move", { x: this.$props.x, y: this.$props.y });
    },
  },
};
</script>
