<template>
  <div class="navigation-container">

  </div>
</template>

<script>
export default {
  data() {
    return {
      links: [
        {
          name: "Home",
        },
        {
          name: "Settings",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped></style>
