<template>
  <div class="sidebar-container">
    <div class="logo">
      <img
        src="https://online.medirect.com.mt/assets/imgs/medirect-badge.svg"
        alt="Logo"
      />
      <div>
        <h6>Good Afternoon</h6>
        <h3>Interviewer</h3>
      </div>
    </div>
    <div class="links">
      <div class="link" v-for="route in routes" :key="route.name">
        <router-link active-class="active" :to="route.path">
          <component v-bind:is="route.icon"></component>
          {{ route.name }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
div.sidebar-container {
  background-color: #fafbfd;
  width: 300px;

  div.logo {
    display: -webkit-box;
    display: flex;
    align-items: flex-end;
    height: 4rem;
    cursor: pointer;
    justify-content: center;

    img {
      margin-right: 1rem;
      height: 34px;
      width: 34px;
    }
  }

  div.links {
    margin-top: 2rem;

    div.link {

      a {
        padding: 0.5rem 2rem;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #7d7d7d;

        svg {
          margin-right: 1rem;
          color: #7d7d7d;
        }

        &.active {
          font-weight: 700;

          svg {
            color: #007ac5;
          }

          color: #007ac5;
          background-color: white;
        }
      }
    }
  }
}
</style>

<script>
import OptionsIcon from "@/components/Icons/OptionsIcon";
import BulbIcon from "@/components/Icons/BulbIcon";

export default {
  components: {
    options: OptionsIcon,
    bulb: BulbIcon,
  },

  computed: {
    routes() {
      return this.$router.options.routes.filter((r) => r.includeInSidebar);
    },
  },
};
</script>
