<template>
  <div class="grid-container">
    <div class="row" v-for="row in rows" :key="row.id">
      <div class="column" v-for="column in row.columns" :key="column.id">
        <light
          :x="column.position"
          :y="row.position"
          :on="column.on"
          v-on:move="makeMove"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
div.grid-container {
  height: 500px;
  width: 500px;
  display: flex;

  div.row {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;

    div.column {
      display: inline-block;
      margin: 5px;
      flex: 1;
    }
  }
}
</style>

<script>
import Light from "@/components/Light.vue";
import { mapActions, mapState } from "vuex";

export default {
  components: { Light },

  computed: {
    ...mapState({
      rows: (state) => state.games.data.rows || [],
    }),
  },

  methods: {
    ...mapActions(["makeMove"]),
  },
};
</script>
