<template>
  <div id="app">
    <sidebar />
    <div class="main-container">
      <router-view />
    </div>
  </div>
</template>

<script>
import Sidebar from "@/components/Sidebar";

export default {
  components: { Sidebar },

  mounted() {
    this.$store.dispatch("getSettings");
  },
};
</script>

<style lang="scss">
#app {
  display: flex;
  height: 100vh;
}

div.main-container {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}
</style>
