<template>
  <div class="round-container">
    <h1 class="mb-5">Lights Out</h1>
    <grid class="mb-5" />
    <div class="form">
      <div>
        <button
          :class="['btn', moves === 0 ? 'btn-light' : 'btn-primary']"
          @click="forfeit"
        >
          Forfeit
        </button>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
div.form {
  display: flex;
  flex-direction: row-reverse;
}
</style>

<script>
import Grid from "@/containers/Grid.vue";
import { mapActions, mapState } from "vuex";

export default {
  components: { Grid },

  computed: {
    ...mapState(["games", "settings"]),

    moves() {
      return (this.games.data.moves || []).length;
    },
  },

  methods: {
    ...mapActions(["createGame"]),

    async forfeit() {
      await this.$store.dispatch("forfeitGame");

      if (!this.games.error) {
        await this.createGame();

        console.info(this.games.data.id);

        if (this.games.data && this.games.data.id) {
          this.$router.push(`/round/${this.games.data.id}`);
        }
      }
    },
  },

  watch: {
    games: {
      immediate: true,
      deep: true,
      handler(games) {
        if (!games.loading && games.data && games.data.state === 3) {
          const funMode = this.settings.data["FUN_MODE"] === 1;

          window.setTimeout(() => this.$confetti.stop(), 3e3);

          this.$confetti.start(
            funMode
              ? {
                  particles: [
                    {
                      type: "image",
                      url: "https://i.imgur.com/H4jR3mG.png",
                      size: 25,
                    },
                  ],
                }
              : {
                  particles: [
                    {
                      type: "circle",
                    },
                  ],
                  defaultColors: ["#1881c2", "#e2f4ff"],
                }
          );
        }
      },
    },
  },

  async mounted() {
    let { id } = this.$route.params;

    if (!id) {
      if (
        !(
          this.games.data &&
          "state" in this.games.data &&
          this.games.data.state !== 0
        )
      ) {
        await this.createGame();
      }

      ({ id } = this.games.data);

      this.$router.push(`/round/${id}`);

      return;
    }

    await this.$store.dispatch("getGame", id);
  },
};
</script>
