<template>
  <div class="home">
    <div class="form" v-if="!settings.loading">
      <h1 class="mb-5">Settings</h1>
      <div class="mb-4">
        <label for="maxLightsOn">Maximum Lights On</label>
        <input
          class="form-control"
          type="text"
          placeholder=""
          id="maxLightsOn"
          v-model="form.maxLightsOn"
        />
      </div>
      <div class="mb-4">
        <label for="minLightsOn">Minimum Lights On</label>
        <input
          class="form-control"
          type="text"
          placeholder=""
          id="minLightsOn"
          v-model="form.minLightsOn"
        />
      </div>
      <div class="mb-4">
        <label for="gridSize">Grid Size</label>
        <input
          class="form-control"
          type="text"
          placeholder=""
          id="gridSize"
          v-model="form.gridSize"
        />
      </div>
      <div class="mb-4">
        <label for="funMode">Fun Mode</label>
        <input
          class="form-control"
          type="text"
          placeholder=""
          id="funMode"
          v-model="form.funMode"
        />
      </div>
      <div>
        <button class="btn btn-primary" :disabled="!diff.length" @click="save">Save</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

const MAX_LIGHTS_ON = "MAX_LIGHTS_ON";
const MIN_LIGHTS_ON = "MIN_LIGHTS_ON";
const GRID_SIZE = "GRID_SIZE";
const FUN_MODE = 'FUN_MODE';

export default {
  name: "Home",

  data() {
    return {
      form: {
        maxLightsOn: 0,
        minLightsOn: 0,
        gridSize: 0,
        funMode: 0,
      },
    };
  },

  computed: {
    ...mapState(["settings", "games"]),

    diff() {
      const requests = [];

      if (this.form.maxLightsOn !== this.settings.data[MAX_LIGHTS_ON]) {
        requests.push({
          name: MAX_LIGHTS_ON,
          value: Number(this.form.maxLightsOn),
        });
      }

      if (this.form.minLightsOn !== this.settings.data[MIN_LIGHTS_ON]) {
        requests.push({
          name: MIN_LIGHTS_ON,
          value: Number(this.form.minLightsOn),
        });
      }

      if (this.form.gridSize !== this.settings.data[GRID_SIZE]) {
        requests.push({ name: GRID_SIZE, value: Number(this.form.gridSize) });
      }

      if (this.form.funMode !== this.settings.data[FUN_MODE]) {
        requests.push({ name: FUN_MODE, value: Number(this.form.funMode) });
      }

      return requests;
    },
  },

  watch: {
    settings: {
      immediate: true,
      deep: true,
      handler(settings) {
        if (!settings.data.loading) {
          this.form.maxLightsOn = settings.data[MAX_LIGHTS_ON];
          this.form.minLightsOn = settings.data[MIN_LIGHTS_ON];
          this.form.gridSize = settings.data[GRID_SIZE];
          this.form.funMode = settings.data[FUN_MODE];
        }
      },
    },
  },

  methods: {
    ...mapActions(["updateSetting"]),

    async save() {
      console.info(this.diff);

      for await (const request of this.diff) {
        await this.updateSetting(request);
      }
    },
  },
};
</script>
