@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
}

:root {
  --color-background: 255,255,255;
}

body {
  margin: 0;
  background: rgb(var(--color-background));
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.2rem + 2px);
  padding: 0.6rem 1.8rem;
  padding-right: 1.8rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-top-color: rgb(206, 212, 218);
  border-right-color: rgb(206, 212, 218);
  border-bottom-color: rgb(206, 212, 218);
  border-left-color: rgb(206, 212, 218);
  border-radius: 0.4rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

h1 {
  font-family: "Work Sans";
  font-style: normal;
  color: #131515;
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  margin: 0;
}

h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 17px;
    text-overflow: ellipsis;
}

h6 {
    font-size: 0.75rem;
    font-weight: 600;
    --text-opacity: 1;
    color: #757575;
    color: rgba(117, 117, 117, var(--text-opacity));
    margin: 0;
    padding: 0;
    white-space: nowrap;
    font-size: 12px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.6rem 1.8rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 2rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007dc6;
  border-color: #007dc6;
}

.btn-light {
  color: #212529;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
}
